# Copy this file to .env and fill in your values
PORT=3000
MONGODB_URI=mongodb+srv://livreoadmin:Livreo2026.2004@livreo0.vwgs9aj.mongodb.net/livreo?appName=Livreo0
ADMIN_USERNAME=livreoadmin
ADMIN_PASSWORD=Livreo2026.2004
WHATSAPP_NUMBER=22893460079
SESSION_SECRET=livreo_secret_key

# Cloudinary — stockage des images (https://cloudinary.com)
CLOUDINARY_CLOUD_NAME=votre_cloud_name
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret

